@model List<Travel.Core.Entities.Libro>

<h1>Libros</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo Libro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ISBN
            </th>
            <th>
                Titulo
            </th>
            <th>
                Sinopsis
            </th>
            <th>
                Numero paginas
            </th>
            <th>
                Editorial
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NPaginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorialesNavigation.Nombre)
            </td>
            <td>
                <a asp-action="AddAutor" asp-route-id="@item.Isbn" class="btn btn-info">Agregar Autor</a>
                <a asp-action="Edit" asp-route-id="@item.Isbn" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Isbn" class="btn btn-secondary">Detalle</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
© 2022 GitHub, Inc.